/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DEFAULTS
 *  HEADINGS
 *  NOTIFICATIONS
 */





/*------------------------------------*\
    !DEFAULTS
\*------------------------------------*/

.icon{
    size: $icon-default-size;
    fill: $icon-default-color;
}





/*------------------------------------*\
    !HEADINGS
\*------------------------------------*/

h1 .icon,
.h1 .icon,
h2 .icon,
.h2 .icon,
h3 .icon,
.h3 .icon,
h4 .icon,
.h4 .icon,
h5 .icon,
.h5 .icon,
h6 .icon,
.h6 .icon{
    vertical-align: $icon-header-vertical-align;
}





/*------------------------------------*\
    !NOTIFICATIONS
\*------------------------------------*/

.notification-close-btn .icon{
    size: $icon-close-notification-size;
}